.content {
  padding: 0.5rem;
  width: 25%;
  height: 25%;
}

.video {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.title,
.channeltitle {
  margin: 0.4rem 0;
  font-size: 0.875rem;
}
.title {
  color: #030303;
}

.channeltitle {
  color: #606060;
}
