* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.navbar {
  display: flex;
  padding: 1rem 2rem;
}

.search-form {
  display: flex;
  margin-left: 16rem;
  border: solid 0.1rem #d3d0d0;
}

.search-box {
  width: 575px;
  height: 30px;
  border: none;
}

.search-btn {
  width: 65px;
  height: 30px;
  border-left: solid 0.1rem #d3d0d0;
  background-color: #f1eded;
  color: rgb(111, 111, 111);
}
