* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.navbar {
  display: flex;
  padding: 0.7rem 2rem;
}

.logo-size {
  width: 80px;
  height: 24px;
}

.search-form {
  display: flex;
  margin-left: 16rem;
  border: solid 1px #c6c6c6;
}

.search-box {
  width: 575px;
  height: 30px;
  border: none;
}

.search-btn {
  width: 65px;
  height: 30px;
  border-left: solid 1px #c6c6c6;
  background-color: #f8f8f8;
  color: #909090;
}

.search-btn:hover {
  background-color: #f0f0f0;
  color: #333;
}
